<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Contact List</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <h1>Contact List</h1>
        
        <div>
            <nobr>
                <a th:href="@{/contacts/add}">Add Contact</a> |
                <a th:href="@{/}">Back to Index</a>
            </nobr>
        </div>
        <br/><br/>
        <div>
            <table border="1">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Edit</th>
                </tr>
                <tr th:each ="contact : ${contacts}">
                    <td><a th:href="@{/contacts/{contactId}(contactId=${contact.id})}" th:utext="${contact.id}">...</a></td>
                    <td><a th:href="@{/contacts/{contactId}(contactId=${contact.id})}" th:utext="${contact.name}">...</a></td>
                    <td th:utext="${contact.phone}">...</td>
                    <td th:utext="${contact.email}">...</td>
                    <td><a th:href="@{/contacts/{contactId}/edit(contactId=${contact.id})}">Edit</a></td>
                </tr>
            </table>          
        </div>
        <br/><br/>
        <div>
        	<form method="get" th:action="@{/contacts}">
        	<button name="page" th:value="${page - 1}" th:disabled="${page == 1}">
								<th:block>Prev</th:block>
			</button>
			
			<ul>
			<li th:each="pageNo, iter: ${#numbers.sequence( firstPage , firstPage + pageLimit > pageCount ? pageCount : firstPage + pageLimit -1)}">
							<div th:if="${iter.index == 0 && pageNo > 1 }">
								<button name="page" class="c-list-pager__link" disabled="disabled">
									<p th:text="..."></p>
								</button>
							</div>
							<div>
								<button name="page" th:disabled="${pageNo == page}" th:value="${pageNo}">
									<p th:text="${pageNo}"></p>
								</button>
							</div>
							<div th:if="${iter.index == iter.size - 1 && pageNo < pageCount }">
								<button name="page" class="c-list-pager__link" disabled="disabled">
									<p th:text="..."></p>
								</button>
							</div>
						</li>
			</ul>
			
        	<button name="page" th:value="${page + 1}" th:classappend="${page == pageCount} ? c-list-pager__item--disable" th:disabled="${page == pageCount}">
								<th:block>Next</th:block>
			</button>
        	</form>
           
            
        </div>
    </body>
</html>